Repository topdeveloper1219/wordpress-deepK, changes with the owners that .github/CODEOWNERS names for each.
All owners: @robruiz, @ataylorme, @felixarntz

.github/CODEOWNERS:

# Default owners of everything in the repo:
* @robruiz

# Gulp owner:
gulpfile.babel.js @ataylorme
/gulp/ @ataylorme

# Tests owner:
.travis.yml @felixarntz
phpcs.xml.dist @felixarntz
phpunit.integration.xml.dist @felixarntz
phpunit.xml.dist @felixarntz
/tests/ @felixarntz

Update back-compat.php
  inc/back-compat.php
Owners: @robruiz

Remove 0 padding
  assets/css/src/content.css
Owners: @robruiz

Update CHANGELOG.md
  CHANGELOG.md
Owners: @robruiz

Update CHANGELOG.md
  CHANGELOG.md
Owners: @robruiz

Update Issues Template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @robruiz

Added a new Customizer component making it easier to add theme settings
  config/themeCustomizeSettings.json
  inc/EZ_Customizer/Component.php
  inc/Theme.php
Owners: @robruiz

Updated CHANGELOG.md and README.md
  CHANGELOG.md
  README.md
Owners: @robruiz

Added get_theme_file_path to included functions for EZ_Customizer component
  inc/EZ_Customizer/Component.php
Owners: @robruiz

Issue #674 -reverted shorthand arrays and other phpcbf-related issues.
  inc/EZ_Customizer/Component.php
Owners: @robruiz

Upgraded minimum WordPress version for WP Rig to 4.7
  .travis.yml
  functions.php
Owners: @felixarntz, @robruiz

PHPCBF cleanup
  functions.php
  inc/EZ_Customizer/Component.php
Owners: @robruiz

Upgraded minimum WordPress version for WP Rig to 4.7
  inc/EZ_Customizer/Component.php
  inc/Theme.php
Owners: @robruiz

Upgraded minimum WordPress version for WP Rig to 4.7
  inc/EZ_Customizer/Component.php
Owners: @robruiz

Fixes for PHPCBF
  inc/EZ_Customizer/Component.php
  inc/Theme.php
Owners: @robruiz

Fixes for PHPCBF
  functions.php
  inc/Theme.php
Owners: @robruiz

Fixes for PHPCBF
  inc/EZ_Customizer/Component.php
Owners: @robruiz

Fixes for PHPCBF
  inc/EZ_Customizer/Component.php
Owners: @robruiz

Moved to EZ_Customizer. Enabled file on bundle
  config/config.default.json
  config/config.json
  inc/EZ_Customizer/Component.php
  inc/EZ_Customizer/themeCustomizeSettings.json
Owners: @robruiz

Update README.md
  README.md
Owners: @robruiz

Update README.md
  README.md
Owners: @robruiz

Created javascript component
  inc/JavaScript/Component.php
Owners: @robruiz

removed ! from opening comment
  style.css
Owners: @robruiz

added *.DS_Store
  .gitignore
Owners: @robruiz

cleaned up JavaScript component
  inc/JavaScript/Component.php
  inc/Theme.php
Owners: @robruiz

added todo to JavaScript Component
  inc/JavaScript/Component.php
Owners: @robruiz

added filter for theme customization settings
  inc/EZ_Customizer/Component.php
Owners: @robruiz

Added deps and localize_scripts functionality
  inc/JavaScript/Component.php
Owners: @robruiz

updated package-lock.json to pass build
  package-lock.json
Owners: @robruiz

Changed Formatting
  inc/JavaScript/Component.php
Owners: @robruiz

updated formatting
  inc/EZ_Customizer/Component.php
Owners: @robruiz

Extend Config File
  gulp/constants.js
  style.css
Owners: @ataylorme, @robruiz

Update Config to match new constant
  config/config.default.json
Owners: @robruiz

Extend Config File
  CHANGELOG.md
Owners: @robruiz

Update WPRig version
  config/config.default.json
  gulp/constants.js
  style.css
Owners: @robruiz, @ataylorme

Revert "Update WPRig version"
  config/config.default.json
  gulp/constants.js
  style.css
Owners: @robruiz, @ataylorme

Revert "Extend Config File"
  CHANGELOG.md
Owners: @robruiz

Revert "Update Config to match new constant"
  config/config.default.json
Owners: @robruiz

Revert "Extend Config File"
  gulp/constants.js
  style.css
Owners: @ataylorme, @robruiz

added hook to nav menu template to support customizing the menu button on mobile.
  config/config.default.json
  config/config.json
  template-parts/header/navigation.php
Owners: @robruiz

added hook to nav menu template to support customizing the menu button on mobile.
  config/config.default.json
  config/config.json
Owners: @robruiz
