Repository topdeveloper1219/wordpress-deepK, changes with the owners that .github/CODEOWNERS names for each.
All owners: @robruiz, @ataylorme, @felixarntz

.github/CODEOWNERS:

# Default owners of everything in the repo:
* @robruiz

# Gulp owner:
gulpfile.babel.js @ataylorme
/gulp/ @ataylorme

# Tests owner:
.travis.yml @felixarntz
phpcs.xml.dist @felixarntz
phpunit.integration.xml.dist @felixarntz
phpunit.xml.dist @felixarntz
/tests/ @felixarntz

Added support to css and JS for Gutenberg navigation block in the mobile nav display
  assets/css/src/global.css
  assets/js/src/navigation.js
Owners: @robruiz

Added support to css and JS for Gutenberg navigation block in the mobile nav display
  assets/js/src/navigation.js
Owners: @robruiz

Added support to css and JS for Gutenberg navigation block in the mobile nav display
  assets/css/src/global.css
Owners: @robruiz

Added support to css and JS for Gutenberg navigation block in the mobile nav display
  assets/css/src/global.css
Owners: @robruiz

Added support to css and JS for Gutenberg navigation block in the mobile nav display
  assets/css/src/global.css
Owners: @robruiz

Added support to css and JS for Gutenberg navigation block in the mobile nav display
  CHANGELOG.md
Owners: @robruiz

Added support to css and JS for Gutenberg navigation block in the mobile nav display
  package.json
Owners: @robruiz

Added support to css and JS for Gutenberg navigation block in the mobile nav display
  CHANGELOG.md
Owners: @robruiz

Incremented theme version in style.css Ran a PHPCBF fix
  inc/Nav_Menus/Component.php
  style.css
Owners: @robruiz

Fixed aria-expanded conflict bug between navigation.js and navigation block view.js
  assets/js/src/navigation.js
Owners: @robruiz

Created a node script that configures the theme for FSE support.
  gulp/editorSupport.js
  package.json
Owners: @ataylorme, @robruiz

quick fix to toggle submenu setup
  assets/js/src/navigation.js
Owners: @robruiz

rotate dropdown carets while open
  assets/css/src/global.css
Owners: @robruiz

rotate dropdown carets while open
  assets/css/src/global.css
Owners: @robruiz

installed wordpress coding standards 3
  composer.json
  composer.lock
  inc/AMP/Component.php
  inc/Accessibility/Component.php
  inc/Base_Support/Component.php
  inc/Comments/Component.php
  inc/Component_Interface.php
  inc/Custom_Background/Component.php
  inc/Custom_Header/Component.php
  inc/Custom_Logo/Component.php
  inc/Customizer/Component.php
  inc/EZ_Customizer/Component.php
  inc/Editor/Component.php
  inc/Excerpts/Component.php
  inc/Image_Sizes/Component.php
  inc/Jetpack/Component.php
  inc/Localization/Component.php
  inc/Nav_Menus/Component.php
  inc/PWA/Component.php
  inc/Post_Thumbnails/Component.php
  inc/Scripts/Component.php
  inc/Sidebars/Component.php
  inc/Styles/Component.php
  inc/Templating_Component_Interface.php
  inc/Theme.php
  inc/functions.php
  tests/phpunit/bootstrap-integration.php
  tests/phpunit/framework/Unit_Test_Case.php
  tests/phpunit/integration/Theme_Support_Tests.php
  tests/phpunit/unit/Base_Support/Component_Tests.php
Owners: @robruiz, @felixarntz

clean up global.css stylelints
  assets/css/src/global.css
Owners: @robruiz

updated changelog
  CHANGELOG.md
Owners: @robruiz

Silences the PHPCS. But the comment lines 186-188 in inc/Nav_Menus/Component.php are still in need of improvement.
  inc/Accessibility/Component.php
  inc/Customizer/Component.php
  inc/Image_Sizes/Component.php
  inc/Nav_Menus/Component.php
  inc/Template_Tags.php
  inc/Theme.php
  package-lock.json
Owners: @robruiz

allow for multiple open submenu navs
  assets/js/src/navigation.js
Owners: @robruiz

allow for multiple open submenu navs
  assets/js/src/navigation.js
Owners: @robruiz

run phpcbf
  template-parts/content/error.php
  tests/phpunit/unit/Accessibility/Component_Tests.php
Owners: @robruiz, @felixarntz

update package-lock
  package-lock.json
Owners: @robruiz

update wp-coding-standards
  composer.json
  composer.lock
  package-lock.json
Owners: @robruiz

update wp-coding-standards
  composer.lock
Owners: @robruiz

run phpcbf
  assets/css/src/_reset.css
  assets/css/src/editor/editor-styles.css
  inc/Template_Tags.php
  template-parts/content/entry_taxonomies.php
  tests/phpunit/framework/Unit_Test_Case.php
Owners: @robruiz, @felixarntz

run phpcbf
  inc/Template_Tags.php
  inc/Theme.php
  inc/back-compat.php
  phpcs.xml.dist
Owners: @robruiz, @felixarntz

phpcs is now working! no wpcs errors anymore! Rejoice
  assets/css/src/global.css
  inc/EZ_Customizer/Component.php
  inc/Nav_Menus/Component.php
  inc/Sidebars/Component.php
  inc/Styles/Component.php
  phpcs.xml.dist
Owners: @robruiz, @felixarntz

slight tweak when using wp_remote_get now
  inc/EZ_Customizer/Component.php
  inc/Nav_Menus/Component.php
  package-lock.json
Owners: @robruiz

slight tweak when using wp_remote_get now
  inc/EZ_Customizer/Component.php
Owners: @robruiz

slight tweak when using wp_remote_get now
  inc/EZ_Customizer/Component.php
Owners: @robruiz

upgraded postcss including some deps
  CHANGELOG.md
  inc/EZ_Customizer/Component.php
  package-lock.json
  package.json
Owners: @robruiz

upgraded postcss including some deps
  package-lock.json
Owners: @robruiz

updates to package.json and README.md
  README.md
  package.json
Owners: @robruiz

fix linebreaks
  package-lock.json
Owners: @robruiz

Bump @babel/traverse from 7.21.4 to 7.24.7
  package-lock.json
Owners: @robruiz

Bump socket.io-parser from 4.2.2 to 4.2.4
  package-lock.json
Owners: @robruiz

Bump follow-redirects from 1.15.2 to 1.15.6
  package-lock.json
Owners: @robruiz

Bump ws, socket.io-client and socket.io
  package-lock.json
Owners: @robruiz

Bump yargs-parser, stylelint and stylelint-config-wordpress
  package-lock.json
  package.json
Owners: @robruiz

Bump node-notifier and gulp-notify
  package-lock.json
  package.json
Owners: @robruiz
