Repository topdeveloper1219/wordpress-deepK, changes with the owners that .github/CODEOWNERS names for each.
All owners: @robruiz, @ataylorme, @felixarntz

Added better mobile nav using new hooks
  assets/css/src/global.css
  inc/Nav_Menus/Component.php
  template-parts/header/navigation.php
Owners: @robruiz

Revert "Revert "Extend Config File""
  gulp/constants.js
  style.css
Owners: @ataylorme, @robruiz

Revert "Added better mobile nav using new hooks"
  assets/css/src/global.css
  inc/Nav_Menus/Component.php
  template-parts/header/navigation.php
Owners: @robruiz

Undoing bad push to master
  config/config.default.json
  style.css
  template-parts/header/navigation.php
Owners: @robruiz

Undoing bad push to master
  composer.json
  composer.lock
  tests/phpunit/bootstrap-common.php
  tests/phpunit/framework/Unit_Test_Case.php
Owners: @robruiz, @felixarntz

Update base test case method name set_up() -> setUp()
  tests/phpunit/framework/Unit_Test_Case.php
  tests/phpunit/unit/Accessibility/Component_Tests.php
  tests/phpunit/unit/Base_Support/Component_Tests.php
Owners: @felixarntz

Redoing proper nav
  assets/css/src/global.css
  inc/Nav_Menus/Component.php
  template-parts/header/navigation.php
Owners: @robruiz

Redoing proper nav
  assets/css/src/global.css
Owners: @robruiz

Code cleanup
  inc/Nav_Menus/Component.php
  template-parts/header/navigation.php
Owners: @robruiz

Code cleanup
  inc/Nav_Menus/Component.php
  template-parts/header/navigation.php
Owners: @robruiz

Code cleanup
  template-parts/header/navigation.php
Owners: @robruiz

Code cleanup
  inc/Nav_Menus/Component.php
Owners: @robruiz

Code cleanup
  template-parts/header/navigation.php
Owners: @robruiz

Code cleanup
  template-parts/header/navigation.php
Owners: @robruiz

Update CHANGELOG.md
  CHANGELOG.md
Owners: @robruiz

Replaced mobile menu dashicon with svgs.
  .gitignore
  assets/css/src/global.css
  assets/svg/close-icon.svg
  assets/svg/menu-icon.svg
  inc/Nav_Menus/Component.php
Owners: @robruiz

added themeCustomizeSettings.json to export
  config/config.default.json
Owners: @robruiz

Add/java script component (#780)
  CHANGELOG.md
  assets/js/src/global.js
  inc/Scripts/Component.php
  inc/Theme.php
Owners: @robruiz

added assests/svg/*.svg to export
  config/config.default.json
Owners: @robruiz

adds a folder assets/fonts and a related gulp task
  gulp/constants.js
  gulp/fonts.js
  gulpfile.babel.js
Owners: @ataylorme

Update to V 2.2.1 (#804)
  CHANGELOG.md
  assets/css/src/_blocks.css
  assets/css/src/global.css
  composer.json
  config/config.default.json
  gulp/constants.js
  inc/Scripts/Component.php
  inc/Styles/Component.php
  package-lock.json
  package.json
  sidebar.php
  style.css
Owners: @robruiz, @ataylorme

fixed fading out of mobile menu
  assets/css/src/global.css
Owners: @robruiz

updated change lof
  CHANGELOG.md
Owners: @robruiz

Replaced mobile menu dashicon with svgs.
  composer.json
  inc/Base_Support/Component.php
  inc/Theme.php
  inc/Theme_Supports/Component.php
  package-lock.json
Owners: @robruiz

Bump axios and localtunnel
  package-lock.json
Owners: @robruiz

Bump jsdom and jest
  package-lock.json
  package.json
Owners: @robruiz

Code Review Slip
  inc/Theme.php
  inc/Theme_Supports/Component.php
Owners: @robruiz

Bump shell-quote from 1.6.1 to 1.7.4
  package-lock.json
Owners: @robruiz

Bump lodash from 4.17.15 to 4.17.21
  package-lock.json
Owners: @robruiz

Bump socket.io-parser and browser-sync
  package-lock.json
  package.json
Owners: @robruiz

Bump engine.io and browser-sync
  package-lock.json
  package.json
Owners: @robruiz

Update version
  package.json
Owners: @robruiz

Updated a lot of packages cleaned up some minor syntax sniffs updated style preloads to auto-load preloaded styles
  inc/Base_Support/Component.php
  inc/Styles/Component.php
  package-lock.json
  tests/phpunit/unit/Accessibility/Component_Tests.php
Owners: @robruiz, @felixarntz

Updated a lot of packages cleaned up some minor syntax sniffs updated style preloads to auto-load preloaded styles
  CHANGELOG.md
Owners: @robruiz

Updated a lot of packages cleaned up some minor syntax sniffs updated style preloads to auto-load preloaded styles
  package.json
Owners: @robruiz

Updated a lot of packages cleaned up some minor syntax sniffs updated style preloads to auto-load preloaded styles
  package-lock.json
  package.json
Owners: @robruiz

Update README.md
  README.md
Owners: @robruiz

mobile menu fix
  assets/css/src/global.css
Owners: @robruiz

Updated a lot of packages cleaned up some minor syntax sniffs updated style preloads to auto-load preloaded styles
  config/config.json
  gulp/constants.js
  gulp/styles.js
  inc/Template_Tags.php
  package-lock.json
  package.json
  phpcs.xml.dist
  tests/phpunit/unit/Accessibility/Component_Tests.php
Owners: @robruiz, @ataylorme, @felixarntz

Added support to css and JS for Gutenberg navigation block in the mobile nav display
  assets/css/src/global.css
  assets/js/src/navigation.js
  inc/Nav_Menus/Component.php
Owners: @robruiz

.github/CODEOWNERS:

# Default owners of everything in the repo:
* @robruiz

# Gulp owner:
gulpfile.babel.js @ataylorme
/gulp/ @ataylorme

# Tests owner:
.travis.yml @felixarntz
phpcs.xml.dist @felixarntz
phpunit.integration.xml.dist @felixarntz
phpunit.xml.dist @felixarntz
/tests/ @felixarntz
